@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Söhne Kräftig";
    src: url('../src/fonts/soehne-kraftig.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
}