@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Titles font";
    /* src: url('../src/fonts/test-soehne-breit-kraftig.woff2') format('woff'); */
    src: url('../src/fonts/daysone-regular.ttf') format('woff');
    font-weight: 500;
    font-style: normal;
}